<div class="item">
    <div>Nome do chef</div>
    <div>
        <input type="text" name="name" placeholder="Primeiro e último nome" value="{{ chef.name }}"/>
        <input type="hidden" id="checkRecipes" name="total_recipes" value="{{ chef.total_recipes }}">
    </div>
</div>

<div class="item">
    <div>Foto do Chef</div>
    <div class="container-photos">
        <div id="photos-upload">
            <input 
                id="photos-input"
                type="file" 
                name="photos" 
                accpet="image/*"
                onchange="PhotosUploadChef.handleFileInput(event)"
            >
            <p>+</p>
        </div>
         <div id="photos-preview">
            {% if files %}
                    <div class="photo" id="{{image.id}}">
                        <img src="{{image.src}}" alt="{{image.name}}">
                        <i 
                            class="material-icons"
                            onclick="PhotosUploadChef.removeOldPhoto(event)"
                        >delete</i>
                    </div>
                <input type="hidden" name="removed_files">
            {% endif %}
        </div>
    </div>
</div>

