
{% extends "layoutAdmin.njk" %}

{% block head %}
<title>Chefs - Foodfy</title>
{% endblock head %}

{% block content %}
<section class="all-chefs-section">
    <div class="detail-text-container index">
        <h3>Gerenciar Chefs</h3>
        <div class="button-edit index chef">
            <a href="/admin/chefs/create">Novo Chef</a>
        </div>    
    </div>
    <div class="chefs-cards">
    {% for chef in chefs %}
        <div class="chef-card" id="{{chef.id}}">
            <div class="chef-photo">
                <img src="{{ chef.photo }}" alt="{{chef.name}}"/>
            </div>
            <div class="chef-name">
                <p>{{chef.name}}</p>
                <a href='/admin/chefs/{{ chef.id }}'>Visualizar</a>
            </div>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}