/*
*ESTILOS
*/

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  background-color: white;
  flex: 1;
  font-family: "Roboto", sans-serif;
  text-align: center;
  align-items: center;
}

header {
  margin: 35px 60px;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  padding-bottom: 30px;
}

.logo img {
  width: 90px;
  height: 27px;
  position: absolute;
  left: 160px;
}

header .pages {
  margin-left: 160px;
  position: absolute;
  left: 160px;
}

header .pages a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  line-height: 19px;
  margin-left: 35px;
  border-bottom: 2px solid #fbdfdb;
}

header .pages a:hover {
  font-size: 19px;
}

.banner {
  background-color: #fbdfdb;
  width: 940px;
  height: 366px;
  margin: 0 auto;
  border-radius: 30px;
  display: grid;
  margin-bottom: 60px;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.banner .banner-texts {
  position: absolute;
  top: 120px;
  left: 80px;
  text-align: left;
  width: 305px;
}

.banner-texts h1 {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 10px;
  color: black;
}

.banner-texts p {
  width: 316px;
  height: 84px;
  font-size: 18px;
  line-height: 28px;
  opacity: 70%;
  color: black;
}

.banner .chef-image {
  position: absolute;
  right: 100px;
  bottom: 0px;
}

.most-accessed {
  width: 940px;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 60px;
}

.most-accessed h1 {
  font-size: 24px;
  color: black;
  padding-bottom: 20px;
}

.recipes-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.recipe-card {
  width: 300px;
  height: 180px;
  margin-bottom: 25px;
}

.recipe-card img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
  margin-bottom: 5px;
}

.recipe-card h2 {
  font-size: 18px;
  line-height: 28px;
  color: black;
  font-weight: lighter;
}

.recipe-card p {
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}

footer {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
}

footer p {
  padding: 20px;
  color: #999999;
  font-size: 14px;
  text-align: center;
}

.about-container {
  width: 940px;
  height: 100%;
  margin: 0 auto;
}

.about {
  text-align: justify;
}

.about h1 {
  font-size: 24px0;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 20px;
  color: black;
}

.about p {
  color: #444444;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}

/* ===== MODAL =====*/

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background-color: white;
  width: 40%;
  height: 50%;
  margin: 15vh auto;
  position: relative;
  border-radius: 15px;
}

.modal .close-modal {
  color: black;
  position: absolute;
  bottom: 20px;
  right: 245px;
  cursor: pointer;
}

.close-modal .close-button {
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}

.modal-content #image-modal {
  margin: 0 auto;
  margin-top: 25px;
  object-fit:cover;
  width: 490px;
  height: 150px;
  border-radius: 15px;
}

.modal-content #h2-modal {
  margin-top: 15px;
  font-size: 18px;
  line-height: 28px;
  color: black;
  font-weight: lighter;
}

.modal-content #p-modal {
  margin-top: 2px;
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}
