{% extends "layoutMain.njk" %}

{% block filter %}
<div class="filter">
    <form action="/receitas" method="GET">
        <input type="text" name="filter" placeholder="Buscar uma receita" value={{filter}}>
        <button type="submit">Buscar</button>
    </form>
</div>
{% endblock %}

{% block content %}

    <section class="banner">
        <div class="banner-texts">
            <h1>As melhores receitas</h1>
            <p>Aprenda a cozinhar os melhores pratos com receitas criadas por profissionais do mundo inteiro!</p>
        </div>
        <div class="chef-image">
            <img src="/assets/chef.png" alt="chef-foodfy"/>
        </div>
    </section>
    <section class="most-accessed">
        <h1>Mais Acessadas</h1>
        <div class="recipes-cards">
            {% for recipe in recipes %}
                <div class="recipe-card" id="{{recipe.id}}">
                    <div class="image-container">
                        <img src="{{recipe.images[0].src}}" alt="{{recipe.title}}"/>
                    </div>
                    <div class="content">
                        <h2>{{recipe.title}}</h2>
                        <p>{{recipe.chef_name}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>


{% endblock content %}