{% extends "layoutMain.njk" %}

{% block head %}
        <title>Pesquisando por "{{ filter }}"</title>
{% endblock head%}

{% block content %}


<section class="most-accessed">
  <h2>Buscando por "{{ filter }}"
  <div class="recipes-cards">
    {% for recipe in recipes %}
    <div class="recipe-card" id="{{ recipe.id }}">
      <div class="image-container">
        <img src="{{ recipe.images[0].src }}" alt="{{ recipe.title }}" />
      </div>
      <div class="content">
        <h2>{{ recipe.title }}</h2>
        <p>{{ recipe.chef_name }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}