{% extends "layoutAdmin.njk" %}

{% block content %}

<section class="manager-recipes">
    <div class="detail-text-container index">
        <h3>Gerenciar receitas</h3>
        <div class="button-edit index">
            <a href="/admin/recipes/create">Nova receita</a>
        </div>    
    </div>
    <section class="cards">
        {% for recipe in recipes %}
        <div class="card">
            <div class="image-container">
                <img src="{{ recipe.image }}" alt="{{recipe.title}}"/>
            </div>
            <div class="infos">
                <h2>{{ recipe.title }}</h2>
                <p>{{ recipe.chef_name }}</p>
                <a href="/admin/recipes/{{ recipe.id }}/">Visualizar</a>
            </div>
        </div>
        {% endfor %}
    </section>
</section>

{% endblock %}