/*
*ESTILOS
*/

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  background-color: white;
  flex: 1;
  font-family: "Roboto", sans-serif;
  text-align: center;
  align-items: center;
}

/* ========HEADER======== */

header {
  margin: 35px auto;
  width: 900px;
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo {
  width: 90px;
}

.logo img {
  width: 90px;
  height: 27px;
}

header .pages {
  width: 300px;
  margin-left: -350px;
}

header .pages a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  line-height: 19px;
  margin-left: 35px;
  border-bottom: 2px solid #fbdfdb;
}

header .pages a:hover {
  font-size: 19px;
}

/* ======BANNER====== */

.banner {
  background-color: #fbdfdb;
  width: 940px;
  height: 366px;
  margin: 0 auto;
  border-radius: 30px;
  display: grid;
  margin-bottom: 60px;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.banner .banner-texts {
  position: absolute;
  top: 120px;
  left: 80px;
  text-align: left;
  width: 305px;
}

.banner-texts h1 {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 10px;
  color: black;
}

.banner-texts p {
  width: 316px;
  height: 84px;
  font-size: 18px;
  line-height: 28px;
  opacity: 70%;
  color: black;
}

.banner .chef-image {
  position: absolute;
  right: 100px;
  bottom: 0px;
}

/* =======RECEITAS======= */

.most-accessed {
  width: 940px;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 60px;
}

.most-accessed h1 {
  font-size: 24px;
  color: black;
  padding-bottom: 20px;
}

.recipes-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.recipe-card {
  width: 300px;
  height: 180px;
  margin-bottom: 25px;
}

.recipe-card img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
  margin-bottom: 5px;
}

.recipe-card h2 {
  font-size: 18px;
  line-height: 28px;
  color: black;
  font-weight: lighter;
}

.recipe-card p {
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}

.content {
  margin-left: 5px;
}

/* =======FOOTER======= */

footer {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
}

footer p {
  padding: 20px;
  color: #999999;
  font-size: 14px;
  text-align: center;
}

/* =====PAGE ABOUT======= */

.about-container {
  width: 940px;
  height: 100%;
  margin: 0 auto;
}

.about {
  text-align: justify;
}

.about h1 {
  font-size: 24px0;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 20px;
  color: black;
}

.about p {
  color: #444444;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}

/* ======PAGE DETAILS====== */

main {
  width: 100%;
  height: 100%;
}

.detail-header {
  width: 940px;
  height: 100%;
  margin: 0 auto;
}

.detail-image-container {
  width: 940px;
  height: 280px;
}

.detail-image-container img {
  width: 940px;
  height: 280px;
  border-radius: 15px;
}

.detail-info-container {
  width: 100%;
  height: 70px;
  margin-top: 50px;
}

.detail-info-container h2 {
  font-size: 36px;
  line-height: 42px;
  color: black;
}

.detail-info-container p {
  font-size: 20px;
  line-height: 24px;
  color: #777777;
}

.details-recipe {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  text-align: justify;
}

.title-button-ingredients {
  width: 315px;
  height: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.title-button-preparation {
  width: 410px;
  height: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.title-button-information {
  width: 545px;
  height: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.detail-title-button h2 {
  font-size: 24px;
  line-height: 28px;
  color: black;
}

.detail-title-button a {
  font-size: 12px;
  color: #777777;
  line-height: 14px;
  padding-top: 10px;
  cursor: pointer;
  font-weight: bold;
}
.detail-content {
  color: #444444;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 35px;
  margin-top: 15px;
  visibility: visible;
}

.detail-content.hidden {
  height: 0;
  opacity: 0;
  visibility: hidden;
  line-height: 0;
}

.detail-content ul {
  margin-left: 18px;
}