/*
*ESTILOS
*/

@import url("https://fonts.googleapis.com/css?family=Manrope:400,700&display=swap");

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  background-color: white;
  height: auto;
  font-family: "Manrope", sans-serif;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* ========HEADER======== */

header {
  margin: 35px auto;
  width: 940px;
  height: 30px;
  display: grid;
  grid-template-columns: 91px 400px 1fr;
  align-items: center;
}

header .pages a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  line-height: 19px;
  margin-left: 35px;
}

header .pages a:hover {
  font-size: 19px;
}

header .filter form {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 5px;
  align-items: center;
  visibility: visible;
}

header .filter form input {
  width: 320px;
  height: 37px;
  font-size: 16px;
  border: 1px solid #dddddd;
  padding-left: 5px;
  box-sizing: border-box;
  justify-self: right;
}

header .filter form button {
  width: 91px;
  height: 37px;
  border-radius: 4px;
  background-color: #6558c3;
  font-size: 16px;
  color: white;
  font-weight: bold;
  justify-self: right;
}

/* ======BANNER====== */

.banner {
  background-color: #fbdfdb;
  width: 940px;
  height: 366px;
  margin: 0 auto;
  border-radius: 30px;
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.banner .banner-texts {
  position: absolute;
  top: 120px;
  left: 80px;
  text-align: left;
  width: 345px;
}

.banner-texts h1 {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 10px;
  color: black;
}

.banner-texts p {
  width: 325px;
  height: 84px;
  font-size: 20px;
  line-height: 30px;
  opacity: 70%;
  color: black;
}

.banner .chef-image {
  position: absolute;
  right: 100px;
  bottom: 0px;
}

/* =======RECEITAS======= */

.most-accessed {
  width: 940px;
  margin: 0 auto;
  text-align: left;
  box-sizing: border-box;
  padding: 30px 0 20px 0;
}

.most-accessed h1 {
  font-size: 24px;
  color: black;
  padding-bottom: 20px;
}

.recipes-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.recipe-card {
  width: 300px;
  height: 180px;
  margin-bottom: 25px;
}

.recipe-card img {
  width: 300px;
  height: 120px;
  border-radius: 15px;
  margin-bottom: 5px;
  object-fit: cover;
}

.recipe-card h2 {
  font-size: 18px;
  line-height: 28px;
  color: black;
  font-weight: lighter;
}

.recipe-card p {
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}

.content {
  margin-left: 5px;
}

/* =======FOOTER======= */

footer {
  background-color: #eeeeee;
  width: 100%;
  margin-bottom: auto;
}

footer p {
  padding: 20px;
  color: #999999;
  font-size: 14px;
  text-align: center;
}

/* =====PAGE ABOUT======= */

.about-container {
  width: 940px;
  height: 100%;
  margin: 0 auto;
}

.about {
  text-align: justify;
}

.about h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 20px;
  color: black;
}

.about p {
  color: #444444;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}

/* ======PAGE DETAILS====== */

main {
  width: 100%;
  height: 100%;
}

.detail-header {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 130px ;
  gap: 20px;
}

.detail-header .gallery {
  display: grid;
  grid-template-rows: 1fr 60px;
  cursor: zoom-in;
}

.detail-header .gallery .highlight img {
  width: 940px;
  height: 280px;
  object-fit: cover;
  border-radius: 20px;
}

.gallery .gallery-preview { 
  display: grid;
  grid-template-columns: 70px 70px 70px 70px 70px;
  gap: 10px;
  margin-top: 10px;
  justify-content: left;
  transform: scale(-1, 1);
  cursor: pointer;
}

.gallery .gallery-preview img  {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
}


.detail-info-container {
  width: 100%;
  height: 70px;
  margin: 30px 0;
}

.detail-info-container h2 {
  font-size: 36px;
  line-height: 42px;
  color: black;
  padding-bottom: 10px;
}

.detail-info-container p {
  font-size: 20px;
  line-height: 24px;
  color: #777777;
}

.details-recipe {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  text-align: justify;
}

.title-button-ingredients {
  width: 315px;
  height: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.title-button-preparation {
  width: 410px;
  height: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.title-button-information {
  width: 545px;
  height: 28px;
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 8px;
}

.detail-title-button h2 {
  font-size: 24px;
  line-height: 28px;
  color: black;
}

.detail-title-button a {
  font-size: 12px;
  color: #777777;
  line-height: 14px;
  padding-top: 10px;
  cursor: pointer;
  font-weight: bold;
}
.detail-content {
  color: #444444;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 35px;
  margin-top: 15px;
  visibility: visible;
}

.detail-content.hidden {
  height: 0;
  opacity: 0;
  visibility: hidden;
  line-height: 0;
}

.detail-content ul {
  margin-left: 18px;
}

/* CHEFS PAGE */

.all-chefs-section {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.all-chefs-section h1 {
  font-size: 24px;
  color: black;
  text-align: left;
  padding-bottom: 20px;

  box-sizing: border-box;
}

.chefs-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.chef-card {
  display: grid;
  grid-template-columns: 65px 1fr;
  align-items: center;
  gap: 20px;
  padding-bottom: 25px;
  padding: 5px;
  box-sizing: border-box;
}

.chefs-cards .chef-name {
  text-align: left;
}

.chefs-cards .chef-name p {
  font-size: 18px;
  line-height: 21px;
  color: black;
  margin-bottom: 5px;
}

.chefs-cards .chef-name a {
  color: #6558c3;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.chef-card .chef-photo img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.chefs-cards .chef-card .chef-name .total-recipes {
  font-size: 14px;
  color: #777777;
  margin-bottom: 1px;
}

/* details PAGE CHEFS */

.chef-details-container {
  margin-top: 45px;
  align-items: center;
}

.chef-details-container .chef-avatar {
  justify-self: right;
}

.chef-details-container .chef-avatar img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.chef-details-container .chef-details-profile {
  justify-self: left;
  padding: 15px;
  box-sizing: border-box;
}

.chef-details-profile h3 {
  font-size: 25px;
  padding-bottom: 8px;
}

.chef-details-profile p {
  font-size: 19px;
  color: #444444;
}

.main-recipes {
  width: 940px;
  height: 1000px;
  margin: 0 auto;
  text-align: left;
}

.cards-recipes-chefs {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.card-recipe {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-recipe .image-recipe-container {
  justify-self: center;
}

.card-recipe .image-recipe-container img {
  width: 172px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
}

.card-recipe .infos-recipe-container {
  justify-self: left;
  text-align: left;
}

.card-recipe .infos-recipe-container h2 {
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 8px;
}

.card-recipe .infos-recipe-container p {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 3px;
  color: #777777;
}

.card-recipe .infos-recipe-container a {
  font-size: 14px;
  line-height: 16px;
  color: #6558c3;
  text-decoration: none;
}

/* PAGINATION */

.pagination{
  margin: 0 auto;
  align-self: end;
  text-align: center;
  justify-self: center;
  padding-bottom: 40px;
}

.pagination a, 
.pagination span {
  color: black;
  text-decoration: none;
  margin-right: 16px;
}

.pagination a:hover {
  filter: brightness(0.4);
  border-bottom: 1px solid black;
}

/* LIGHTBOX */
.gallery .highlight .lightbox-target {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  overflow: hidden;
  z-index: 100;
  left: 0;
  top: -100%;
  opacity: 0;
  transition: opacity 400ms;
  cursor: initial;
}

.gallery .highlight .lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.gallery .highlight a.lightbox-close {
  width: 50px;
  height: 50px;
  background-color:  rgba(43, 42, 42, 0.7);
  position: absolute;
  top: -80px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 400ms;
  color: red;
  text-decoration: none;
}