@import url('https://fonts.googleapis.com/css?family=Manrope:400,700&display=swap');

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  flex: 1;
  height: auto;
  background-color: white;
  font-family: 'Manrope', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* HEADER */

header {
  margin: 0 auto;
  background-color: black;
  width: 100%;
  height: 100px;
  padding: 32px;
  box-sizing: border-box;
}

header .header {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 90px 300px 465px;
  gap: 45px;
}


.pages a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 35px;
}


/* INDEX */

.manager-recipes {
  width: 940px;
  margin: 0 auto;
  text-align: left;
}

.manager-recipes h3 {
  font-size: 24px;
  color: black;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  display: grid;
  grid-template-columns: 250px 270px;
  gap: 10px;
}

.card .image-container {
  width: 250px;
  height: 95px;
}

.card img {
  width: 250px;
  height: 90px;
  border-radius: 15px;
  object-fit: cover;
}

.card h2 {
  font-size: 18px;
  line-height: 28px;
  color: black;
  font-weight: lighter;
}

.card p {
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}

.infos h2, .infos p {
  padding-bottom: 6px;
}

.cards .card .infos a {
  color: #6558C3;
  text-decoration: none;
}


/* FOOTER */

footer {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  text-align: center;
}

footer p {
  padding: 20px;
  color: #999999;
  font-size: 14px;
  text-align: center;
}

/* ======PAGE DETAILS====== */

.main-recipes {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.detail-header {  
  width: 940px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 80px 1fr 130px ;
  gap: 20px;
}

.detail-header-chefs {  
  width: 940px;
  height: 250px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 80px 1fr 130px ;
  gap: 20px;
}

.detail-header .gallery {
  display: grid;
  grid-template-rows: 1fr 60px;
  cursor: zoom-in;
}

.detail-header .gallery .highlight img {
  width: 940px;
  height: 280px;
  object-fit: cover;
  border-radius: 20px;
}

.gallery .gallery-preview { 
  display: grid;
  grid-template-columns: 70px 70px 70px 70px 70px;
  gap: 10px;
  margin-top: 10px;
  justify-content: left;
  transform: scale(-1, 1);
  cursor: pointer;
}

.gallery .gallery-preview img  {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
}

.detail-text-container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 25px;
  text-align: center;
}

.detail-text-container.index {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 45px;
  text-align: center;
  align-items: center;
}

.detail-text-container:first-child {
  text-align: left;
}

.detail-text-container h3 {
  font-size: 24px;
  line-height: 34px;
}

.detail-text-container .button-edit {
  margin-left: 335px;
  background-color: #6558C3;
  width: 136px;
  height: 37px;
  border-radius: 6px;
  position: relative;
}

.detail-text-container .button-edit.save {
  margin-left: 335px;
  background-color: #6558C3;
  width: 90px;
  height: 37px;
  border-radius: 6px;
  position: relative;
}

.detail-text-container .button-edit {
  margin-left: 335px;
  background-color: #6558C3;
  width: 136px;
  height: 37px;
  border-radius: 6px;
  position: relative;
}

.detail-text-container .button-edit a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  font-size: 16px;
  left: 17px;
  top: 6.5px
}

.detail-text-container .button-edit.index a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  font-size: 16px;
  left: 19.9px;
  top: 6.5px
}

.detail-text-container .button-edit.index.chef a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  font-size: 16px;
  left: 27.5px;
  top: 6.8px
}

.detail-text-container .button-edit.index.save button{
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  font-size: 16px;
  left: 21.5px;
  top: 9px
}

.detail-text-container .button-edit.index.edit{
  width: 85px;
  justify-self: right;
  position: relative;
}


.detail-text-container .button-edit button{
  color: white;
  background-color: #6558C3;
  font-weight: bold;
  position: absolute;
  font-size: 16px;
  left: 16px;
  top: 8px
}

.detail-image-container {
  width: 940px;
  height: 280px;
}

.detail-image-container img {
  width: 940px;
  height: 280px;
  border-radius: 15px;
  object-fit: cover;
}

.detail-info-container {
  width: 100%;
  height: 70px;
  margin-top: 50px;
}

.detail-info-container h2 {
  font-size: 36px;
  line-height: 42px;
  color: black;
  padding-bottom: 10px;
}

.detail-info-container p {
  font-size: 20px;
  line-height: 24px;
  color: #777777;
}

.details-recipe {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  text-align: justify;
}

.title-button-ingredients {
  width: 315px;
  height: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.title-button-preparation {
  width: 410px;
  height: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.title-button-information {
  width: 545px;
  height: 28px;
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 8px;
}

.detail-title-button h2 {
  font-size: 24px;
  line-height: 28px;
  color: black;
}

.detail-title-button a {
  font-size: 12px;
  color: #777777;
  line-height: 14px;
  padding-top: 10px;
  cursor: pointer;
  font-weight: bold;
}
.detail-content {
  color: #444444;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 35px;
  margin-top: 15px;
  visibility: visible;
}

.detail-content.hidden {
  height: 0;
  opacity: 0;
  visibility: hidden;
  line-height: 0;
}

.detail-content ul {
  margin-left: 18px;
}

/* PAGE CREATE */

form {
  width: 940px;
  margin: 35px auto;
}

.details .item {
  text-align: left;
  padding: 15px 10px 15px 0px;
  box-sizing: border-box;
}

.details .item div:first-child {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  box-sizing: border-box;
}

.details .item div input,
.details .item div textarea,
.details .item div select{
  margin-top: 10px;
}

input {
  width: 100%;
  height: 40px;
  outline: 1px solid rgb(194, 191, 191);
  color: #333;
  font-size: 16px;
  padding-left: 12px;
  outline-style: double;
  box-shadow: 2px 2px -1px rgba(90, 90, 90, 0.582);
  box-sizing: border-box;
}

select {
  width: 100%;
  height: 40px;
  outline: 1px solid rgb(194, 191, 191);
  background-color: white;
  color: #333;
  font-size: 16px;
  padding-left: 12px;
  outline-style: double;
  box-shadow: 2px 2px -1px rgba(90, 90, 90, 0.582);
}

textarea {
  width: 100%;
  height: 40px;
  outline: 1px solid rgb(194, 191, 191);
  color: #333;
  font-size: 16px;
  padding-left: 12px;
  outline-style: double;
  box-shadow: 2px 2px -1px rgba(90, 90, 90, 0.582);
  
}

.item.information textarea {
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  font-family: 'Manrope', sans-serif;
  color: #333;
}

.button-create {
  width: 200px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: -5px;
}

button {
  color: #6558C3;
  font-size: 16px;
  line-height: 19px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

/* EDIT PAGE */

#button-save {
  width: 120px;
  height: 40px;
  background-color: #6558C3;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
}

#button-delete {
  width: 120px;
  height: 40px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
}

#form-delete {
  margin-top: -30px;
}

/* CHEFS PAGE */

.all-chefs-section {
  width: 940px;
  height: 100%;
  margin: 25px auto;
  text-align: center;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.all-chefs-section h1 {
  font-size: 24px;
  color: black;
  text-align: left;
  padding-bottom: 20px;

  box-sizing: border-box;
}

.chefs-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.chef-card {
  display: grid;
  grid-template-columns: 65px 1fr;
  align-items: center;
  gap: 20px;
  padding: 5px;
  box-sizing: border-box;
}

.chefs-cards .chef-name {
  text-align: left;
}

.chefs-cards .chef-name p {
  font-size: 18px;
  line-height: 21px;
  color: black;
  margin-bottom: 5px;
}

.chefs-cards .chef-name a {
  color: #6558C3;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.chef-card .chef-photo img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}


.chefs-cards .chef-card .chef-name .total-recipes {
  font-size: 14px;
  color: #777777;
  margin-bottom: 1px;
}


/* details PAGE CHEFS */

.chef-details-container {
  margin-top: 45px;
  align-items: center;
}

.chef-details-container .chef-avatar {
  justify-self: right;
}

.chef-details-container .chef-avatar img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.chef-details-container .chef-details-profile {
  justify-self: left;
  padding: 15px;
  box-sizing: border-box;
}

.chef-details-profile h3 {
  font-size: 25px;
  padding-bottom: 8px;
}

.chef-details-profile p {
  font-size: 19px;
  color: #444444;
}

.cards-recipes-chefs {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.card-recipe {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-recipe .image-recipe-container {
  justify-self: center;
}

.card-recipe .image-recipe-container img {
  width: 172px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
}

.card-recipe .infos-recipe-container {
  justify-self: left;
  text-align: left;
}

.card-recipe .infos-recipe-container h2 {
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 8px;
}

.card-recipe .infos-recipe-container p {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 3px;
  color: #777777;
}

.card-recipe .infos-recipe-container a {
  font-size: 14px;
  line-height: 16px;
  color: #6558C3;
  text-decoration: none;
}

/* PHOTOS */

.container-photos {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.container-photos #photos-upload {
  position: relative;
  display: block;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border: 1px solid lightgray;
  text-align: center;
  padding: 0;
}

.container-photos #photos-upload p {
  padding: 0;
  border-radius: 4px;
  color: lightgray;
  width: 100%;
  font-size: 38px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 69px;
}

.container-photos #photos-upload input#photos-input {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 150px;
  height: 150px;
  opacity: 0;
  cursor: pointer;
  padding: 0;
}

/* PREVIEW */

form .item #photos-preview {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
}

form .item #photos-preview .photo img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}


#photos-preview .photo {
  position: relative;
}

#photos-preview .photo i {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.8);
  color: rgb(99, 97, 97);
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 500%;
  opacity: 0;
  transition: opacity 300ms;
}

#photos-preview .photo:hover i {
  opacity: 1;
}

/* FILTER */

header .filter {
  width: 465px;
  height: 37px;
}

header .filter form {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 5px;
  align-items: center;
  visibility: visible;
  width: 450px;
  height: 37px;
  margin: 0 auto;
  justify-self: right;
}

header .filter form input {
  width: 320px;
  height: 37px;
  font-size: 16px;
  padding-left: 5px;
  box-sizing: border-box;
  justify-self: right;
  border-radius: 4px;
  outline: none;
  outline-style: none;
}

header .filter form button {
  width: 91px;
  height: 37px;
  border-radius: 4px;
  background-color: #6558c3;
  font-size: 16px;
  color: white;
  font-weight: bold;
  justify-self: right;
}

/* PAGINATION */

.pagination{
  margin: 10 auto;
  align-self: end;
  text-align: center;
  justify-self: center;
  padding-bottom: 40px;
  height: 10px;
  padding-top: 25px;
}

.pagination a, 
.pagination span {
  color: black;
  text-decoration: none;
  margin-right: 16px;
}

.pagination a:hover {
  filter: brightness(0.4);
  border-bottom: 1px solid black;
}


/* LIGHTBOX */
.gallery .highlight .lightbox-target {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  overflow: hidden;
  z-index: 100;
  left: 0;
  top: -100%;
  opacity: 0;
  transition: opacity 400ms;
  cursor: initial;
}

.gallery .highlight .lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.gallery .highlight a.lightbox-close {
  width: 50px;
  height: 50px;
  background-color:  rgba(43, 42, 42, 0.7);
  position: absolute;
  top: -80px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 400ms;
  color: red;
  text-decoration: none;
}