{% extends "layoutAdmin.njk" %} 

{% block content %}

<form class="card-form" method="POST" action="/admin/recipes" enctype="multipart/form-data">
  <section class="details">
    <div class="detail-text-container">
        <h3>Criando receita</h3>
        <div class="button-edit">
            <button type="submit">Salvar receita</button>
        </div>    
    </div>

    {% include 'admin/recipes/fields.njk' %}

  </section>
</form>
{% endblock content %}