<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesAdmin.css" />
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block head %}
        <title>Admin - Foodfy</title>
    {% endblock %}
</head>

<body>
    <header>
        <div class="header">
            <div class="logo">
                <a href="/"><img src="/assets/logoWhite.png" alt="foodfy" /></a>
            </div>
            <div class="pages">
                <a href="/admin/recipes">Receitas</a>
                <a href="/admin/chefs">Chefs</a>
            </div>
        </div>
    </header>

    {% block content%} {% endblock %}

    <footer>
        <p>Todos os direitos reservados, Foodfy. <br> 2020</p>
    </footer>

    <script src="/scripts.js"></script>

</body>
</html